openapi: 3.0.3
info:
    title: The First Descendant Metadata API
    version: 1.0.0
    contact:
        name: Nexon
servers:
    -   url: 'https://open.api.nexon.com'
tags:
    -   name: MetaData
        description: Retrieves metadata information.
paths:
    /static/tfd/meta/{language_code}/descendant.json:
        get:
            tags:
                - MetaData
            summary: Retrieve descendant metadata
            description: Retrieves descendant metadata.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DescendantResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/weapon.json:
        get:
            tags:
                - MetaData
            summary: Retrieve weapon metadata
            description: Retrieves weapon metadata.<br>
                This API only provides path information. You can check it via a separate client.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WeaponResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/module.json:
        get:
            tags:
                - MetaData
            summary: Retrieve module metadata
            description: Retrieves module metadata.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ModuleResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/reactor.json:
        get:
            tags:
                - MetaData
            summary: Retrieve Reactor metadata
            description: Retrieves Reactor metadata.<br>
                This API only provides path information. You can check it via a separate client.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ReactorResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/external-component.json:
        get:
            tags:
                - MetaData
            summary: Retrieve external component metadata
            description: Retrieves external component metadata.</br>
                This API only provides path information. You can check it via a separate client.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ExternalComponentResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/reward.json:
        get:
            tags:
                - MetaData
            summary: Retrieve Difficulty Level Rewards metadata
            description: Retrieves Difficulty Level Rewards metadata.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RewardResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/stat.json:
        get:
            tags:
                - MetaData
            summary: Retrieve base stat metadata
            description: Retrieves base stat metadata.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/StatResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/void-battle.json:
        get:
            tags:
                - MetaData
            summary: Retrieve Void Intercept Battle metadata
            description: Retrieves Void Intercept Battle metadata.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VoidBattleResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

    /static/tfd/meta/{language_code}/title.json:
        get:
            tags:
                - MetaData
            summary: Retrieve Title metadata
            description: Retrieves Title metadata.
            parameters:
                -   name: language_code
                    in: path
                    schema:
                        type: string
                        enum:
                            - ko
                            - en
                            - de
                            - fr
                            - ja
                            - zh-CN
                            - zh-TW
                            - it
                            - pl
                            - pt
                            - ru
                            - es
                    description: language code
                    required: true
            responses:
                '200':
                    description: SUCCESS
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TitleResponse'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '403':
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '429':
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'

components:
    schemas:
        DescendantResponse:
            type: array
            items:
                type: object
                properties:
                    descendant_id:
                        type: string
                        description: Descendant identifier
                    descendant_name:
                        type: string
                        description: Descendant name
                    descendant_image_url:
                        type: string
                        description: Descendant image path
                    descendant_stat:
                        type: array
                        description: Descendant stat information
                        items:
                            type: object
                            properties:
                                level:
                                    type: number
                                    format: int64
                                    description: Level
                                stat_detail:
                                    type: array
                                    description: Descendant details
                                    items:
                                        type: object
                                        properties:
                                            stat_type:
                                                type: string
                                                description: Stat type
                                            stat_value:
                                                type: number
                                                format: double
                                                description: Value by stat type
                    descendant_skill:
                        type: array
                        description: Descendant skill information
                        items:
                            type: object
                            properties:
                                skill_type:
                                    type: string
                                    description: Skill type (active/passive)
                                skill_name:
                                    type: string
                                    description: Skill name
                                element_type:
                                    type: string
                                    description: Skill type
                                arche_type:
                                    type: string
                                    description: Arche type
                                skill_image_url:
                                    type: string
                                    description: Skill icon image path
                                skill_description:
                                    type: string
                                    description: Skill description

        WeaponResponse:
            type: array
            items:
                type: object
                properties:
                    weapon_name:
                        type: string
                        description: Weapon name
                    weapon_id:
                        type: string
                        description: Weapon identifier
                    image_url:
                        type: string
                        description: Weapon image path
                    weapon_type:
                        type: string
                        description: Weapon type
                    weapon_tier:
                        type: string
                        description: Weapon tier
                    weapon_rounds_type:
                        type: string
                        description: Weapon rounds type
                    base_stat:
                        type: array
                        description: Weapon base spec information
                        items:
                            type: object
                            properties:
                                stat_id:
                                    type: string
                                    description: Weapon base spec identifier (Refer to /meta/stat API)
                                stat_value:
                                    type: number
                                    format: double
                                    description: Weapon base spec value
                    firearm_atk:
                        type: array
                        description: Firearm attack power by level information
                        items:
                            type: object
                            properties:
                                level:
                                    type: number
                                    format: int64
                                    description: Firearm level
                                firearm:
                                    type: array
                                    description: Firearm ATK
                                    items:
                                        type: object
                                        properties:
                                            firearm_atk_type:
                                                type: string
                                                description: Firearm ATK type (Refer to /meta/stat API)
                                            firearm_atk_value:
                                                type: number
                                                format: double
                                                description: Firearm ATK value
                    weapon_perk_ability_name:
                        type: string
                        description: Unique Ability name
                    weapon_perk_ability_description:
                        type: string
                        description: Unique Ability description
                    weapon_perk_ability_image_url:
                        type: string
                        description: Unique Ability image path

        ModuleResponse:
            type: array
            items:
                type: object
                properties:
                    module_name:
                        type: string
                        description: Module name
                    module_id:
                        type: string
                        description: Module identifier
                    image_url:
                        type: string
                        description: Module image path
                    module_type:
                        type: string
                        description: Module type
                    module_tier:
                        type: string
                        description: Module tier
                    module_socket_type:
                        type: string
                        description: Module slot socket type
                    module_class:
                        type: string
                        description: Module class
                    module_stat:
                        type: array
                        description: Module attribute information
                        items:
                            type: object
                            properties:
                                level:
                                    type: number
                                    format: int64
                                    description: Module enchantment level
                                module_capacity:
                                    type: number
                                    format: int64
                                    description: Module capacity
                                value:
                                    type: string
                                    description: Module attribute value

        ReactorResponse:
            type: array
            items:
                type: object
                properties:
                    reactor_id:
                        type: string
                        description: Reactor identifier
                    reactor_name:
                        type: string
                        description: Reactor name
                    image_url:
                        type: string
                        description: Reactor image path
                    reactor_tier:
                        type: string
                        description: Reactor tier
                    reactor_skill_power:
                        type: array
                        description: Skill Power by level information
                        items:
                            type: object
                            properties:
                                level:
                                    type: number
                                    format: int64
                                    description: Reactor level
                                skill_atk_power:
                                    type: number
                                    format: double
                                    description: Skill Power
                                sub_skill_atk_power:
                                    type: number
                                    format: double
                                    description: Sub Attack Power
                                skill_power_coefficient:
                                    type: array
                                    description: Skill Power Boost Ratio information
                                    items:
                                        type: object
                                        properties:
                                            coefficient_stat_id:
                                                type: string
                                                description: Skill Power Boost Ratio identifier
                                            coefficient_stat_value:
                                                type: number
                                                format: double
                                                description: Skill Power Boost Ratio value
                                enchant_effect:
                                    type: array
                                    description: Enchantment effect by level information
                                    items:
                                        type: object
                                        properties:
                                            enchant_level:
                                                type: number
                                                format: int64
                                                description: Enchantment level
                                            stat_type:
                                                type: string
                                                description: Enchantment effect type
                                            value:
                                                type: number
                                                format: double
                                                description: Enchantment effect value
                    optimized_condition_type:
                        type: string
                        description: Optimization Condition

        ExternalComponentResponse:
            type: array
            items:
                type: object
                properties:
                    external_component_id:
                        type: string
                        description: External component identifier
                    external_component_name:
                        type: string
                        description: External component name
                    image_url:
                        type: string
                        description: External component image path
                    external_component_equipment_type:
                        type: string
                        description: External component equipment part
                    external_component_tier:
                        type: string
                        description: External components tier
                    base_stat:
                        type: array
                        description: External component effect by level information
                        items:
                            type: object
                            properties:
                                level:
                                    type: number
                                    format: int64
                                    description: External component level
                                stat_id:
                                    type: string
                                    description: External component effect type
                                stat_value:
                                    type: number
                                    format: double
                                    description: External component effect value
                    set_option_detail:
                        type: array
                        description: External component set option information
                        items:
                            type: object
                            properties:
                                set_option:
                                    type: string
                                    description: External component set option type
                                set_count:
                                    type: number
                                    format: int64
                                    description: Number of external component sets
                                set_option_effect:
                                    type: string
                                    description: External component set option set effect

        RewardResponse:
            type: array
            items:
                type: object
                properties:
                    map_id:
                        type: string
                        description: Map identifier
                    map_name:
                        type: string
                        description: Map name
                    battle_zone:
                        type: array
                        description: Battlefield information
                        items:
                            type: object
                            properties:
                                battle_zone_id:
                                    type: string
                                    description: Battlefield identifier
                                battle_zone_name:
                                    type: string
                                    description: Battlefield name
                                reward:
                                    type: array
                                    description: Reward rotation information
                                    items:
                                        type: object
                                        properties:
                                            rotation:
                                                type: number
                                                format: int64
                                                description: Reward rotation
                                            reward_type:
                                                type: string
                                                description: Reward type
                                            reactor_element_type:
                                                type: string
                                                description: Skill type
                                            weapon_rounds_type:
                                                type: string
                                                description: Weapon rounds type
                                            arche_type:
                                                type: string
                                                description: Arche type

        StatResponse:
            type: array
            items:
                type: object
                properties:
                    stat_id:
                        type: string
                        description: Base stat identifier
                    stat_name:
                        type: string
                        description: Base stat name

        VoidBattleResponse:
            type: array
            items:
                type: object
                properties:
                    void_battle_id:
                        type: string
                        description: Void Intercept Battle identifier
                    void_battle_name:
                        type: string
                        description: Void Intercept Battle name

        TitleResponse:
            type: array
            items:
                type: object
                properties:
                    title_id:
                        type: string
                        description: Title identifier
                    title_name:
                        type: string
                        description: Title name

        ErrorMessage:
            type: object
            properties:
                error:
                    type: object
                    properties:
                        name:
                            type: string
                            description: Error name
                        message:
                            type: string
                            description: Error message
